<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>AddIMEI</key>
				<true/>
				<key>FixHPET</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
				<key>FixMutex</key>
				<true/>
				<key>FixRTC</key>
				<true/>
				<key>FixS3D</key>
				<true/>
				<key>FixTMR</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>PNTF to XNTF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					UE5URgE=
					</data>
					<key>Replace</key>
					<data>
					WE5URgE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>PNOT to XNOT</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					UE5PVAg=
					</data>
					<key>Replace</key>
					<data>
					UE5PVAg=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>2(1 or 2)SAT1 to SATA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U0FUMQ==
					</data>
					<key>Replace</key>
					<data>
					U0FUQQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>2(1 or 2)LPC to LPCB</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					TFBDXw==
					</data>
					<key>Replace</key>
					<data>
					TFBDQg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>2(1 or 2)XHCI to XHC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WEhDSQ==
					</data>
					<key>Replace</key>
					<data>
					WEhDXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>disable SD for 2-3</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1JNVgCkCgE=
					</data>
					<key>Replace</key>
					<data>
					X1JNVgCkCgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>B0D3 to HDAU for 4-5</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QjBEMw==
					</data>
					<key>Replace</key>
					<data>
					SERBVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>HDAS to HDEF for 7</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					SERBUw==
					</data>
					<key>Replace</key>
					<data>
					SERFRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>HECI to IMEI for 6-7</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					SEVDSQ==
					</data>
					<key>Replace</key>
					<data>
					SU1FSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>sleep patch 2</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					u7u7u7u7uw==
					</data>
					<key>Replace</key>
					<data>
					u7u7u7u7uw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_PRW 0d03</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					DQoD
					</data>
					<key>Replace</key>
					<data>
					DQoA
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_PRW 0d04</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					DQoE
					</data>
					<key>Replace</key>
					<data>
					DQoA
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_PRW 6d03</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					bQoD
					</data>
					<key>Replace</key>
					<data>
					bQoA
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_PRW 6d04</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					bQoE
					</data>
					<key>Replace</key>
					<data>
					bQoA
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>GPRW to XPRW</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R1BSVwI=
					</data>
					<key>Replace</key>
					<data>
					WFBSVwI=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>UPRW to YPRW</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					VVBSVwI=
					</data>
					<key>Replace</key>
					<data>
					WVBSVwI=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ADBG to XDBG</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QURCRwk=
					</data>
					<key>Replace</key>
					<data>
					WERCRwk=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>DYTC to XYTC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RFlUQwk=
					</data>
					<key>Replace</key>
					<data>
					WFlUQwk=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>KBD to PS2K</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					S0JEXw==
					</data>
					<key>Replace</key>
					<data>
					UFMySw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SMBU to SBUS</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U01CVQ==
					</data>
					<key>Replace</key>
					<data>
					U0JVUw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>EHC1 to EH01</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMQ==
					</data>
					<key>Replace</key>
					<data>
					RUgwMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>EHC2 to EH02</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMg==
					</data>
					<key>Replace</key>
					<data>
					RUgwMg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_DSM to XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0RTTQ==
					</data>
					<key>Replace</key>
					<data>
					WERTTQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_OSI to XOSI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X09TSQ==
					</data>
					<key>Replace</key>
					<data>
					WE9TSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>PCI.VID to PCI.IGPU#1</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					UENJMFZJRF8=
					</data>
					<key>Replace</key>
					<data>
					UENJMElHUFU=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>PCI.VID to PCI.IGPU#2</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					VklEXwhfQURSDAAAAgA=
					</data>
					<key>Replace</key>
					<data>
					SUdQVQhfQURSDAAAAgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>GFX0 to IGPU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0ZYMA==
					</data>
					<key>Replace</key>
					<data>
					SUdQVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q13 to XQ13(FN+F4)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1ExMw==
					</data>
					<key>Replace</key>
					<data>
					WFExMw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q14 to XQ14(up)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1ExNA==
					</data>
					<key>Replace</key>
					<data>
					WFExNA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q15 to XQ15(down)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1ExNQ==
					</data>
					<key>Replace</key>
					<data>
					WFExNQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_PTS to ZPTS(shut)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1BUUwE=
					</data>
					<key>Replace</key>
					<data>
					WlBUUwE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_WAK to ZWAK(wake)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1dBSwE=
					</data>
					<key>Replace</key>
					<data>
					WldBSwE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_WAK09 to ZWAK09(wake)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1dBSwk=
					</data>
					<key>Replace</key>
					<data>
					WldBSwk=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>EC0 to EC__</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUMwXw==
					</data>
					<key>Replace</key>
					<data>
					RUNfXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>LID0 to LID_</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					TElEMA==
					</data>
					<key>Replace</key>
					<data>
					TElEXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>XSEL to XSEX</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WFNFTAg=
					</data>
					<key>Replace</key>
					<data>
					WFNFWAg=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ESEL to ESEX</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RVNFTAg=
					</data>
					<key>Replace</key>
					<data>
					RVNFWAg=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>XWAK to XWAX</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WFdBSwg=
					</data>
					<key>Replace</key>
					<data>
					WFdBWAg=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>bat patch 4</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					3d3d3d3d3Q==
					</data>
					<key>Replace</key>
					<data>
					3d3d3d3d3Q==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>battery_L23 to for e430 e530c e531 e431 s431</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X0wyMw==
					</data>
					<key>Replace</key>
					<data>
					WEwyMw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>battery_L43 to for e460 e470</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X0w0Mw==
					</data>
					<key>Replace</key>
					<data>
					WEw0Mw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>battery_L1D for e440 e540 420&amp;s 430&amp;s 440P</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X0wxRA==
					</data>
					<key>Replace</key>
					<data>
					WEwxRA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>battery_L0D for e450 e 550 440&amp;s and 450&amp;s</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0wwRA==
					</data>
					<key>Replace</key>
					<data>
					WEwwRA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>battery_L17 for 6-7</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X0wxNw==
					</data>
					<key>Replace</key>
					<data>
					WEwxNw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>battery GBIF03 to XBIF03</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0JJRgM=
					</data>
					<key>Replace</key>
					<data>
					WEJJRgM=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>battery GBST04 to XBST04</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0JTVAQ=
					</data>
					<key>Replace</key>
					<data>
					WEJTVAQ=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>battery GBIX03 to XBIX03</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0JJWAM=
					</data>
					<key>Replace</key>
					<data>
					WEJJWAM=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>battery SBMN to BMNX 128</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U0JNTkA=
					</data>
					<key>Replace</key>
					<data>
					Qk1OWEA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>battery SBDN to BDNX 128</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U0JETkA=
					</data>
					<key>Replace</key>
					<data>
					QkROWEA=
					</data>
				</dict>
			</array>
			<key>ReuseFFFF</key>
			<false/>
			<key>SlpSmiAtWake</key>
			<true/>
			<key>SuspendOverride</key>
			<true/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>ProjSsdt</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>ECDT</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>MCFG</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>-igfxbeta nv_disable=1 darkwake=0 abm_firstpolldelay=16000 -igdvmtbeta kext-dev-mode=1 -lilubeta</string>
		<key>CustomLogo</key>
		<true/>
		<key>Debug</key>
		<false/>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>HibernationFixup</key>
		<true/>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>1</integer>
		<key>XMPDetection</key>
		<false/>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>EFILoginHiDPI</key>
		<integer>1</integer>
		<key>UIScale</key>
		<integer>1</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>28</integer>
			<key>ResetHDA</key>
			<true/>
		</dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>
				BgAmFg==
				</data>
				<key>device-id</key>
				<data>
				FhYAAA==
				</data>
				<key>disable-external-gpu</key>
				<data>
				AQAAAA==
				</data>
				<key>enable-hdmi20</key>
				<data>
				AQAAAA==
				</data>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>CsmVideoDxe</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>Recovery</string>
			<string>Preboot</string>
		</array>
		<key>Language</key>
		<string>zh_CN:0</string>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<false/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1440x900</string>
		<key>Theme</key>
		<string>Minimalism</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>NvidiaSingle</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>Debug</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KernelXCPM</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>10.14花屏</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQAAdWQ=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14</string>
				<key>Name</key>
				<string>IOGraphicsFamily</string>
				<key>Replace</key>
				<data>
				AQAA62Q=
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>MLB</key>
		<string>C02714501J9DNJL1H</string>
		<key>ROM</key>
		<data>
		4Q8LlFtk
		</data>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>09/17/2018</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP121.88Z.0178.B00.1809171422</string>
		<key>Board-ID</key>
		<string>Mac-E43C1C25D4880AD6</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02540306J9GDVV1M</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>EfiVersion</key>
		<string>180.0.0.0.0</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0x02</string>
		<key>ProductName</key>
		<string>MacBookPro12,1</string>
		<key>SerialNumber</key>
		<string>C02QHVZHH1DP</string>
		<key>SmUUID</key>
		<string>C628B503-82D8-40CE-891C-853F49F295F7</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>CustomUUID</key>
		<string>D4E6D331-B4E7-5CC9-B1A0-5FCFDDAFCDEC</string>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
